.button{
    background: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    cursor: pointer;
}

.button--link {
    background: none;
    border: 1px solid white;
    color: #fff;
  }
  
  .button--secondary {
    background: #888;
  }