.header-bg{
    background: $blue;
    margin: 0;
}

.header__title{
    margin: 0;
    color: white;
    text-decoration: none;
    h1 {
       margin: 0
    }
}

.header__content{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

