.bg-layout {
 background-color: $blue;
//  background: url('/images/bg.jpg');
 width: 100vw;
 height: 100vh;
 background-size: cover;
 justify-content: center;
 align-items: center;
 display: flex;
}
.bg-layout__box{
    background: fade-out($color: #fff, $amount: .15);
    border-radius: 3px;
    text-align: center;
    min-width: 25rem;
    padding: $l-size $m-size;
}
.bg-layout__title{
    margin: 0 0 $m-size 0;
    line-height: 1;
    color: $blue;
}