.loader {
  position: absolute;
  top: $xl-size;
  left: calc(50% - 50px);
  height: 100vh;
  width: $xl-size;
  height: $xl-size;
  border: 1em solid #2a61ff;
  border-radius: 50%;
  padding: $l-size;
}

.loader__image {
  height: 6rem;
  width: 6rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
