// Colors
$dark-grey: #333;
$grey: #666;
$blue: #2a61ff;
$dark-blue: #364051;
$off-white: #f7f7f7;
// Font Size
$off-blue: #12213a;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
